
.span5
  .well
    %h2.text-warning Premium Profile
    %p
      %span.label.label-success POPULAR
    %p What you get:
    %ul.icons
      %li
        %i.icon-ok
        Your profile is priority listed above standard profiles
      %li
        %i.icon-ok
        A bigger listing, with a strong border to help it stand out
      %li
        %i.icon-ok
        Key skills listed within your profile
      %li
        %i.icon-ok
        Upload your resume
      %li
        %i.icon-ok
        Your profile sent with your applications
      %li
        %i.icon-ok
        Your profile and resume is matched to newly posted jobs, and your resume and profile details sent to the employer
      %li
        %i.icon-ok
        Connect with LinkedIn and upload all information in your LinkedIn profile
    %hr/
    %h3 $10.99 / month
    %hr/
    %p
      %a.btn.btn-success.btn-large{:href => "#"}
        %i.icon-ok
        Select plan
.span5
  .well
    %h2.text-info Standard Profile
    %p What you get:
    %ul.icons
      %li
        %i.icon-ok
        A standard listing, sorted below premium profiles
      %li
        %i.icon-ok
        A description of yourself and your experience
      %li
        %i.icon-ok
        Only your most recent or current position is listed (not full work history)
    %hr/
    %h3 FREE
    %hr/
    %p
      %a.btn.btn-large{:href => "#"}
        %i.icon-ok
        Select plan