-#=render @conversations
%h1
  Conversations
  %span.pull-right
    = render partial: "conversations/compose_btn"
%hr

- if @conversations.length > 0
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th{colspan: 2}
          Last sender
        %th
          Subject
        %th
    %tbody
      - @conversations.each do |convo|
        = conversation_row convo


= render partial: "conversations/new_message_form"