#footer
  .container
    .row-fluid
      %p.credit
        .span12
          .span2{:style => "width: 15%;"}
            %ul.unstyled
              %li
                %a{:href => "#"} About us
              %li
                %a{:href => "#"} FAQ
              %li
          .span2{:style => "width: 15%;"}
            %ul.unstyled
              %li
                %a{:href => "#"} Blog
              %li
                %a{:href => "#"} Privacy Policy
              %li
                %a{:href => "#"} Terms of Service
      %hr/
      %p.muted.pull-center © Kalerky || Tsekmark 2013. All rights reserved